body {
  background-color: #1F3A44;
}
h1 {
  color: #34AB78;
  font-family: 'Khmer';
}
p {
  color: #34AB78;
  font-family: 'Khmer';
  vertical-align: middle;
}
header {
  padding: 20px 0;
  background-color: #1F3A44;
}
header .row,
footer .row {
  display: flex;
  align-items: center;
}
header h1 {
  font-weight: 700;
  margin: 0;
  color: #34AB78;
  font-family: 'Khmer';
  background-color: #1F3A44;
}

header nav {
  display: flex;
  justify-content: flex-end;
  vertical-align: bottom;
}

header p {
  padding: 0 20px;
  margin: 0;
  font-family: 'Khmer';
  color: #2CF4E4;
}
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn {
  background-color: #2980B9;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: black;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("JVoiceActor.jpg");
  background-size: cover;
  height: 590px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  background-color: #1F3A44;
}

section .row img {
  width: 100%;
  background-color: #1F3A44;
}

.col-md-6 {
  margin: 8px 8px 8px 200px;
}
.col-sm-4 {
  margin: 8px 200px 8px 8px;
}

section td {
  padding: 1200px;
  width: 100px;
}
