body {
  background-color: #1F3A44;
}
h1 {
  color: #34AB78;
  font-family: 'Khmer';
  text-align: center;
}
p {
  color: #6723FF;
  font-family: 'Khmer';
  text-align: center;
}
table {
  width: 100%;
  color: #6723FF;
  font-family: 'Khmer'
  vertical-align:text-top;
}
