body {
  background-color: #1F3A44;
}
h1 {
  color: #34AB78;
  font-family: 'Khmer';
  text-align: center;
}
p {
  font-family: 'Khmer';
  text-align: center;
}
table {
  width: 100%;
  font-family: 'Khmer';
}
th, td {
  padding: 8px;
  vertical-align: top;
  color: #006600;
  font-family: 'Khmer';font-size: 18px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even){
  background-color: #ED457A;
}
tr:nth-child(odd){
  background-color: #62BCFA
}
th {
  background-color: #1F3A44;
}
h2 {
  color: #34AB78;
  font-family: 'Khmer';
  text-align: center;
}
ul {
  text-align: left;
}
